---
- hosts: all
  sudo: yes
  tasks:
    - name: Upgrade all packages
      yum: name=* state=latest
    - name: Enable epel-release
      shell: yum-config-manager --enable epel
    - name: Create swapfile
      shell: |
        dd if=/dev/zero of=/swapfile1 bs=1M count=2048
        chmod 600 /swapfile1
        mkswap /swapfile1
        swapon /swapfile1
        echo -e "/swapfile1\tswap\tswap\tdefaults\t0 0" >> /etc/fstab
    - name: Set timezone
      shell: |
        /bin/cp -a /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
        echo 'ZONE="Asia/Tokyo"' > /etc/sysconfig/clock
        echo 'UTC=False' >> /etc/sysconfig/clock
    - name: Disable unused daemons
      shell: |
        chkconfig iptables off
        chkconfig ip6tables off
        chkconfig netfs off
    - name: Set kernel parameters
      lineinfile:
        dest=/etc/sysctl.conf
        line={{ item }}
      with_items:
        - 'vm.swappiness = 1'
        - 'fs.file-max = 402216'
        - 'net.ipv4.ip_local_port_range = 10240 65535'
        - 'net.ipv4.tcp_fin_timeout = 5'
        - 'net.ipv4.tcp_tw_reuse = 1'
        - 'net.ipv4.tcp_tw_recycle = 0'
        - 'net.ipv4.tcp_keepalive_time = 10'
        - 'net.ipv4.tcp_keepalive_probes = 5'
        - 'net.ipv4.tcp_keepalive_intvl = 5'
        - 'net.ipv4.tcp_max_syn_backlog = 10240'
        - 'net.ipv4.tcp_rfc1337 = 1'
        - 'net.core.somaxconn = 65535'
        - 'net.core.netdev_max_backlog = 10240'
        - 'net.nf_conntrack_max = 1053616'
    - name: Create user
      shell: |
        useradd heptagon-user
        mkdir /home/heptagon-user/.ssh
        echo "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDopDYvoAitNj43qNK1QLHMDm5DgkOoWwVXuSiBwJ306I1GWf+4plvMYgmo6eq1Wc5DbsVu6AN6N78FuwiX+zsWfe4oVIQUlL2JkWZenZEA/x04Y24FWC1AAFpiC9dfBjbg39xn3jVY9mIOeHhxozQLCMgEIuPt/iWz6mCNlRsUgSTVwvKv1GEThNjDInq8cziU0CmCbyrdH/MRAX+kCntx+zGiQUwECapenalDaHAAMpqGPEFZnqslzzP3guLhClSLyqhTGeig+tqKw0zZDGtnzqpMy2Ulv82HqCOKCeQnvgo+gIWCsNssTbvp4e70XOsEhfukATg6UcomGCo948bR" > /home/heptagon-user/.ssh/authorized_keys
        chown -R heptagon-user: /home/heptagon-user/
        chmod 700 /home/heptagon-user/.ssh
        chmod 600 /home/heptagon-user/.ssh/authorized_keys
        echo -e "heptagon-user\tALL=(ALL)\tNOPASSWD:ALL" >> /etc/sudoers
    - name: Install postfix
      yum: name=postfix state=latest
    - name: Enable postfix
      service: name=postfix enabled=yes
    - name: Remove sendmail
      yum: name=sendmail state=absent
    - name: Install useful packages
      yum:
        name={{ item }} state=latest
      with_items:
        - 'bash-completion'
        - 'vim'
        - 'dstat'
        - 'jq'
        - 'git'
        - 'mailx'
        - 'sysstat'
    - name: Modify ssh port
      lineinfile:
        dest=/etc/ssh/sshd_config
        regexp='#Port'
        line='Port 10022'
    - name: Modify sshd config
      lineinfile:
        dest=/etc/ssh/sshd_config
        regexp='PermitRootLogin'
        line='PermitRootLogin no'
