---
- hosts: all
  sudo: yes
  tasks:
    - name: Upgrade all packages
      yum: name=* state=latest
    - name: Enable epel-release
      shell: yum-config-manager --enable epel
    - name: Check swapfile
      shell: ls /swapfile1
      register: check_swapfile_result
      changed_when: false
      check_mode: no
    - name: Create swapfile
      shell: |
        dd if=/dev/zero of=/swapfile1 bs=1M count=2048
      when: check_swapfile_result.rc != 0
    - name: Set permission to swapfile
      file:
        path=/swapfile1
        state=file
        owner=root
        group=root
        mode=0600
        follow=yes
    - name: Check swapfile
      shell: file /swapfile1 |grep -qw swap
      register: check_swapfile
      changed_when: false
      check_mode: no
    - name: Create swap
      shell: |
        mkswap /swapfile1
        swapon /swapfile1
      when: check_swapfile.rc != 0
    - name: Add swap information to fstab
      lineinfile:
        dest=/etc/fstab
        line='/swapfile1 swap swap defaults 0 0'
    - name: Set timezone
      shell: |
        /bin/cp -a /usr/share/zoneinfo/Asia/Tokyo /etc/localtime
        echo 'ZONE="Asia/Tokyo"' > /etc/sysconfig/clock
        echo 'UTC=False' >> /etc/sysconfig/clock
    - name: Disable unused daemons
      service: name={{ item }} enabled=false
      with_items:
        - 'iptables'
        - 'ip6tables'
        - 'netfs'
    - name: Set kernel parameters
      lineinfile:
        dest=/etc/sysctl.conf
        line={{ item }}
      with_items:
        - 'vm.swappiness = 1'
        - 'fs.file-max = 402216'
        - 'net.ipv4.ip_local_port_range = 10240 65535'
        - 'net.ipv4.tcp_fin_timeout = 5'
        - 'net.ipv4.tcp_tw_reuse = 1'
        - 'net.ipv4.tcp_tw_recycle = 0'
        - 'net.ipv4.tcp_keepalive_time = 10'
        - 'net.ipv4.tcp_keepalive_probes = 5'
        - 'net.ipv4.tcp_keepalive_intvl = 5'
        - 'net.ipv4.tcp_max_syn_backlog = 10240'
        - 'net.ipv4.tcp_rfc1337 = 1'
        - 'net.core.somaxconn = 65535'
        - 'net.core.netdev_max_backlog = 10240'
        - 'net.nf_conntrack_max = 1053616'
    - name: Create user
      user:
        name=heptagon-user
        state=present
    - name: Create ssh directory
      file:
        path=/home/heptagon-user/.ssh
        state=directory
        owner=heptagon-user
        group=heptagon-user
        mode=0700
    - name: Create public-key
      lineinfile:
        dest=/home/heptagon-user/.ssh/authorized_keys
        line='ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDopDYvoAitNj43qNK1QLHMDm5DgkOoWwVXuSiBwJ306I1GWf+4plvMYgmo6eq1Wc5DbsVu6AN6N78FuwiX+zsWfe4oVIQUlL2JkWZenZEA/x04Y24FWC1AAFpiC9dfBjbg39xn3jVY9mIOeHhxozQLCMgEIuPt/iWz6mCNlRsUgSTVwvKv1GEThNjDInq8cziU0CmCbyrdH/MRAX+kCntx+zGiQUwECapenalDaHAAMpqGPEFZnqslzzP3guLhClSLyqhTGeig+tqKw0zZDGtnzqpMy2Ulv82HqCOKCeQnvgo+gIWCsNssTbvp4e70XOsEhfukATg6UcomGCo948bR'
        owner=heptagon-user
        group=heptagon-user
        mode=0600
        state=present
    - name: Add sudo user
      lineinfile:
        dest=/etc/sudoers
        line='heptagon-user ALL=(ALL) NOPASSWD:ALL'
    - name: Install postfix
      yum: name=postfix state=latest
    - name: Enable postfix
      service: name=postfix enabled=yes
    - name: Remove sendmail
      yum: name=sendmail state=absent
    - name: Install useful packages
      yum:
        name={{ item }} state=latest
      with_items:
        - 'bash-completion'
        - 'vim'
        - 'dstat'
        - 'jq'
        - 'git'
        - 'mailx'
        - 'sysstat'
    - name: Modify ssh port
      lineinfile:
        dest=/etc/ssh/sshd_config
        line='Port 10022'
    - name: Modify sshd config
      lineinfile:
        dest=/etc/ssh/sshd_config
        regexp='PermitRootLogin'
        line='PermitRootLogin no'
    - name: Install Zabbix yum repository
      yum:
        name: https://repo.zabbix.com/zabbix/3.0/rhel/6/x86_64/zabbix-release-3.0-1.el6.noarch.rpm
        state: present
    - name: Install zabbix-agent
      yum:
        name={{ item }}
        state=latest
      with_items:
        - 'zabbix-agent'
        - 'zabbix-sender'
        - 'zabbix-get'
    - name: Copy config file
      copy:
        src: templates/zabbix_agentd.conf
        dest: /etc/zabbix/zabbix_agentd.conf
        owner: root
        group: root
        mode: 0644
    - name: Enable zabbix-agent
      service:
        name: zabbix-agent
        enabled: yes
